*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap:2px; */
    min-height: 100vh;
    overflow: hidden;
    cursor:pointer;

  }

h1 {
    color: white;
}

.box{
    width: 20%;
    position: absolute;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box:nth-child(1) {
    background: #244F75;
    left: 0;

}

.box:nth-child(2) {
    background: #60BFBF ;
    left: 20vw;
}

.box:nth-child(3) {
    background:#8C4B7E ;
    left: 40vw;
}
.box:nth-child(4) {
    background:#F8BB44 ;
    left: 60vw;
}

.box:nth-child(5) {
    background:#F24B4B;
    left: 80vw;
}

.box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.1;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
            transform: skew(30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  @keyframes .box {
    0% {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }

  





